- remote = true
- domain = remote ? "http://open-core.heroku.com" : ""


- if !single_js_file?

  -# Pre-requisites.
  = javascript_include_tag "paths.js"
  = javascript_include_tag "#{domain}/javascripts/closure/closure-library/closure/goog/base.js"
  = javascript_include_tag "#{domain}/javascripts/closure/closure-templates/deps.js"
  = javascript_include_tag "loader.js"

  -# Application.
  = javascript_include_tag "open.core/deps.js"
  = javascript_include_tag "test/deps.js"
  = javascript_include_tag "application.js"
