- remote = false
- domain = remote ? "http://open-core.heroku.com" : ""

/ Scripts

- if !single_js_file?

  -# Pre-requisites.
  = javascript_include_tag "paths.js"
  = javascript_include_tag "#{domain}/javascripts/init"

  -# Application.
  = javascript_include_tag "open.core/deps.js"
  = javascript_include_tag "test/deps.js"
  = javascript_include_tag "application.js"
