- remote = false
- domain = remote ? "http://open-core.heroku.com" : ""

= javascript_include_tag 'domains.js'


- if !single_js_file?

  =javascript_include_tag "#{domain}/javascripts/closure/closure-library/closure/goog/base.js"
  =javascript_include_tag "#{domain}/javascripts/closure/closure-templates/deps.js"

  -#= javascript_include_tag 'closure/closure-library/closure/goog/base.js'
  -#= javascript_include_tag 'closure/closure-templates/deps.js'
  = js_tag 'open.core/deps.js'
  = js_tag 'test/deps.js'

= javascript_include_tag application_js
