- css_path = "#{Constants::CORE_CSS_URL}"

/ CSS
/[if lt IE 9]
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

= stylesheet_link_tag "#{css_path}/blueprint/screen", :media => 'screen'

/[if lt IE 8]
  = stylesheet_link_tag "#{css_path}/blueprint/ie"

/ Open.Core
= stylesheet_link_tag("#{css_path}/jquery_ui/base/jquery.ui.all.css")
= stylesheet_link_tag("#{css_path}/root.css")


